var style = require('../../utils/style.wxs')

function tabClass(active) {
  var classes = ['navi-tab'];
  if(active) {
    classes.push('navi-tab-active');
  }
  return classes.join(' ');
}

function lineStyle(data, unit = 'px') {
  return style({
    width: data.lineWidth + unit,
    transform: 'translateX(' + data.lineOffsetLeft + unit + ')',
    '-webkit-transform': 'translateX(' + data.lineOffsetLeft + unit + ')',
    height: data.lineHeight !== -1 ? data.lineHeight + unit : null,
    'transition-duration': data.duration + 's',
    '-webkit-transition-duration': data.duration + 's'
  });
}

function trackStyle(data) {
  return style({
    left: -100 * data.currentIndex + '%',
    'transition-duration': data.duration + 's',
    '-webkit-transition-duration': data.duration + 's'
  });
}

module.exports = {
  tabClass: tabClass,
  lineStyle: lineStyle,
  trackStyle: trackStyle
};