var Object = require('./object.wxs');

function combineClass(baseClass, addClass) {
  var classes = [baseClass];
  if(addClass && addClass.constructer === 'array') {
    classes = classes.concat(addClass);
  } else if(addClass && typeof addClass === 'string') {
    classes.push(baseClass);
  } else if(addClass && addClass.constructor === 'Object') {
    Object.keys(addClass).forEach(function(key) {
      if(addClass[key]) {
        classes.push(baseClass + '-' + key);
      }
    })
  }
  return classes.join(' ');
}

module.exports = {
  combineClass: combineClass
}